{% extends "run_unsafe.sh.jinja" %}

{% block append %}
# NOTE: This is a workaround to extract the exit code of the program executed in a `conty` sandbox
exit_code=$?
echo $exit_code > "$(dirname $0)/exit_code"
{% endblock append %}
